.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-spin {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50vh;
}

.dot-loader {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50vh;
}

.dot-loader div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1e90ff;
    animation: bounce 1s infinite ease-in-out;
}

.dot_loader div:nth-child(1) {
    animation-delay: 0s;
}

.dot_loader div:nth-child(2) {
    animation-delay: 0s;
}

.dot_loader div:nth-child(3) {
    animation-delay: 2s;
}

.dot_loader div:nth-child(4) {
    animation-delay: 4s;
}

.dot_loader div:nth-child(5) {
    animation-delay: 6s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0.8);
        opacity: 0.6;

    }

    40% {
        transform: scale(1.2);
        opacity: 1;
    }
}